<!DOCTYPE html>
<html>
    <head>
        <title>
            Image uploader photo gallery
        </title>
        <meta charset="UTF-8">
    <title>QR Codes</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="photo-gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    </head>

    <body>
        <div class="uploader">
            <h1>Upload Images</h1>
            <button>upload</button>
        </div>
        <div class ="gallery">
            <h1>Image Gallery</h1>

            <div class = 'Images'>

            </div>
        </div>
    </body>

    <footer>
            <script src="photo-gallery.js"></script>
    </footer>
</html>