<!DOCTYPE html>
<html>
    <head>
        <title>
            Image uploader photo gallery
        </title>
        <meta charset="UTF-8">
    <title>Image Uploader Photo Gallery</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="photo-gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    </head>

    <body>
        <h1>
            Upload Image
        </h1>

       
        <form method ="POST" action="/upload" role="form" enctype="multipart/form-data">
            <div class="upload-btn-wrapper">
                <button class="btn">Upload a file</button>
                <input type="file" name="myFile" />
            </div>
            <div class="upload-btn-wrapper">
                <input type="submit" name="attachFile" />
            </div>
        </form>

        <div class ="gallery">
            <h1>Image Gallery</h1>

            <div class = 'Images'>

            </div>
        </div>
    </body>

    <footer>
            <script src="photo-gallery.js"></script>
    </footer>
</html>